$white: #fff;
$grey: #B4B4B4;
$blue: #1390e5;
$ligthBlue: #c5e4f94d;
$bodyColor: #FAF9F7;
$green: #7BAE73;
$darkGreen: #028a02;
$pink: #FF8484;



// Globals
$container: 1440px;
$containerPadding: 0px 32px;

// Header
$headerTitleFontSize: 28px;

// Input
$inputTitleFontSize: 10px;
$inputBorderRadius: 4px;
$inputFontSize: 12px;
$inputPadding: 10px 15px;
$inputBoxShadow: 0px 2px 5px #0000001a;
// Form
$formPadding: 24px;
$formWidth: 332px;
$formHeigth: 445px;
$formBorderRadius: 4px;
$formBoxShadow: 0px 20px 30px #0000000a, 0px 6px 10px #00000005;
// Button
$btnPadding: 10px 0;
$btnBorderRadius: 10px;
$btnDisabledColorText: #B4B4B4;
// Card
$cardTitleFontSize: 20px;
$cardInfoPadding: 16px 16px 24px;;
$cardDescFontSize: 16px;
$cardPriceFontSize: 24px;
// Filters
$filtersBorderRadius: 4px;
$filterFontSize: 12px;
$filtersPadding: 10px 16px;
$filtersShadow: 0px 2px 5px #0000001a;