%between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%between {
    display: flex;
    justify-content: space-between;
}

%column {
    display: flex;
    flex-direction: column;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}